{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/ui-grid.min.css' %}">
    <script src="{% static 'js/detect.js' %}"></script>
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="{% static 'js/datetime/jquery.datetimepicker.css' %}">
    <script src="{% static 'js/datetime/jquery.js' %}"></script>
    <script src="{% static 'js/datetime/jquery.datetimepicker.full.min.js' %}"></script>

    <!-- select2 -->
    <script src="{% static 'js/common.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <!-- select2 -->
    <script src="{% static 'js/main_menu.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/pm_widget.css' %}">
    <script src="{% static 'js/pm_widget.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>

    <script src="{% static 'js/angular.js' %}"></script>

    <script src="{% static 'js/add_objs.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/cart/change-room-barcode.css' %}">
    <meta class="foundation-mq-small">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-large">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="logo"><a href="/">
            <img alt="nlogo" src="{% static 'img/nlogo.png' %}"/></a></div>
        <div class="submenu">
            <strong class="user_ou" title="Org">РКИБ
            </strong>admin<a class="logout_user" href="#">Выход</a>
        </div>
    </header>
    <!-- .header-->
    <div class="middle ">
        <div class="container">
            <main class="content">
                <div class="row marginTop">
                    <div class="large-10 columns">
                        <div class="breads">
                            <a href="/">
                                <img alt="home_ico" src="{% static 'img/home.png' %}"/>
                            </a> /
                            <span>
                                {% block submenu %}{% endblock %}
                            </span> /
                        </div>
                    </div>
                    <div class="large-2 columns marginTop text-right">
                    </div>
                </div>
                <div class="marginTop"></div>

                {% block content %}

                {% endblock %}
            </main>
            <!-- .content -->
        </div>
        <!-- .container-->
        <aside class="left-sidebar">
            <div class="marginTop">
                <div class="search_wrapper">
                    <form action="" method="GET">
                        <input class="search_query" type="text" name="query" onfocus="if(this.value === 'Поиск по номеру') { this.value = ''; }"
                               onfocusout="if(this.value == '') { this.value = 'Поиск по номеру'; }" value="Поиск по номеру">
                        <!---->
                        <input type="submit" class="search_button" value="">
                    </form>
                </div>
                <ul class="menu">
                    <li class="home_ico"><a href="/">Сводка</a></li>
                    <li class="computer_ico"><a href="#">Компьютеры</a></li>
                    <li class="monitor_ico"><a href="#">Мониторы</a></li>
                    <li class="has-sub printer_ico"><span>Принтеры</span>
                        <ul>
                            <li><a href="#">Резерв</a></li>
                            <li><a href="#">Установленные</a></li>
                            <li><a href="#">Сломанные</a></li>
                            <li><a href="#">Ремонтируются</a></li>
                            <li><a href="#">Списание</a></li>
                            <li><a href="#">Буфер</a></li>
                        </ul>
                    </li>
                    <li class="has-sub cartridge_ico active"><span>Картриджи</span>
                        <ul style="display: block;">
                            <li><a href="{% url 'stock' %}">Заправленные</a></li>
                            <li><a href="{% url 'use' %}">Установленные</a></li>
                            <li><a href="{% url 'empty' %}">Пустые или сломанные</a></li>
                            <li><a href="{% url 'worked_firms' %}">Заправляются</a></li>
                            <li><a href="{% url 'basket' %}">Списание</a></li>
                            {#                            <li><a href="{%  url 'bufer' %}">Буфер</a></li>#}
                            <li><a href="{% url 'massive_change_room' %}">Смена помещения сканером ШК</a></li>
                        </ul>
                    </li>
                    <li class="has-sub fix_ico"><span>Обслуживание</span>
                        <ul>
                            <li><a href="#">События</a></li>
                            <li><a href="#">Почта</a></li>
                            <li><a href="#">Настройки</a></li>
                            <li><a href="#">Подключение к MS Active Directory</a></li>
                            <li><a href="#">Мониторинг</a></li>
                            <li><a href="#">Системный журнал</a></li>
                            <li><a href="#">Активация</a></li>
                        </ul>
                    </li>
                    <li class="has-sub dict_ico"><span>Справочники</span>
                        <ul>
                            <li><a href="#">Пользователи</a></li>
                            <li><a href="#">Группы</a></li>
                            <li><a href="#">Организации</a></li>
                            <li><a href="#">Филиалы</a></li>
                            <li><a href="{% url 'tree_list' %}">Помещения</a></li>
                            <li><a href="#">Контрагенты</a></li>
                            <li><a href="#">Договоры</a></li>
                            <li><a href="#">Акты передачи</a></li>
                            <li><a href="#">Акты возврата</a></li>
                            <li><a href="#">Нумераторы</a></li>
                            <li class="has-sub"><span>Принтеры</span>
                                <ul class="submenu">
                                    <li><a href="#">Названия принтеров</a></li>
                                    <li><a href="#">Типы принтеров</a></li>
                                </ul>
                            </li>
                            <li class="has-sub"><span>Картриджи</span>
                                <ul class="submenu">
                                    <li><a href="{% url 'add_name' %}">Имена картриджей</a></li>
                                    <li><a href="#">Типы картриджей</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'add_manufacture' %}">Производители</a></li>
                        </ul>
                    </li>

                    <li class="reports_ico has-sub"><span>Отчёты</span>
                        <ul>
                            <li>Общие</li>
                            <li><a href="#">Материально ответственные</a></li>
                            <li>По картриджам</li>
                            <li><a href="#">Общая выгрузка</a></li>
                            <li><a href="#">Пользователи</a></li>
                            <li><a href="#">Используемые наименования</a></li>
                            <li><a href="#">Контрагенты</a></li>
                            <li>По принтерам</li>
                            <li><a href="#">Общая выгрузка</a></li>
                            <li><a href="#">Кол-во распечатанных страниц</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- .left-sidebar -->
    </div>
    <!-- .middle-->
</div>
<footer class="footer">
    <div class="text_in_footer">Версия: 3.2.1&nbsp;&nbsp;&nbsp;&copy;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2023
    </div>
</footer>

</body>
</html>
