{% extends 'cartridge/base.html' %}

{% block title %}{{ cartridge_details_view.manufacturerName }} {{ cartridge_details_view.cartName }}{% endblock %}

{% block submenu %}Картриджи / Заправленные / Добавление новых{% endblock %}

{% block content %}
    <div ng-controller="MainCtrl" class="ng-scope">
        <div class="row">
            <div class="large-8 columns">
                <form action="" method="post" class="ng-dirty ng-valid-parse ng-valid ng-valid-required">
                    {% csrf_token %}
                    <div class="marginTop"></div>
                    <label>Штрихкод: </label>
                    {{ cartridge_details_view.barcode }}

                    <div class="marginTop"></div>
                    <label for="id_cartName">Название картриджа: </label>
                    {{ cartridge_details_view.cartName }}

                    <div class="marginTop"></div>
                    <label>Производитель: </label>
                    {{ cartridge_details_view.manufacturerName }}

                    <div class="marginTop"></div>
                    <label>Помещение: </label>
                    {{ cartridge_details_view.placeName }}

                    <div class="marginTop"></div>
                    <label for="id_date">Дата добавления: </label>
                    {{ cartridge_details_view.date }}


                    <div class="marginTop"></div>
                    <label for="id_date">ИСТОРИЯ </label>
                    <div class="large-12 columns">
                        {% for h in history %}
                            {{ h.date_h }} - {{ h.comments_h }}<br>
                        {% endfor %}
                    <div class="marginTop"></div>
                    </div>

                    <div class="marginTop">
                        <a href="{% url 'stock' %}" class="button">Вернуться</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}