{% extends 'cartridge/base.html' %}

{% block title %}Смена местоположения картриджей с помощью сканера штрих-кодов{% endblock %}

{% block submenu %}Картриджи / Смена местоположения картриджей с помощью сканера штрих-кодов{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-5 columns">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="large-12 columns">
                        <label>Отсканированный штрихкод</label>
                        {{ form.barcode }}
                    </div>
                </div>
                <div class="marginTop"></div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Ввести номер картриджа вручную</label>
                        <div class="input_row">
                            {{ form.barcode }}
                            <script>
                                function lengthBarcode() {
                                    var col = document.getElementById("id_barcodeNumber").value.length
                                    if (col === 0)
                                        document.getElementById('id_placeNumber').disabled = true;
                                    if (col === 13)
                                        document.getElementById('id_placeNumber').disabled = false;
                                        document.getElementById('id_placeNumber').focus();
                                    return true;
                                }
                            </script>
                            <a title="Найти по номеру" class="button no_follow add-session-move-barcode search-zoom" href=""></a>
                        </div>
                    </div>
                </div>
                <div class="marginTop"></div>
                <div class="row">
                    <div class="large-12 columns">
                        <label class="required">Помещение</label>
                        {{ form.placeName }}
                        <a class="dj_button" href="{% url 'tree_list' %}" title="Добавить название помещения"></a>

                        <div class="form_error_text cart_sklad_error">Поле должно быть выбрано</div>
                    </div>
                </div>

                <div class="marginTop55"></div>
                <div class="row">
                    <div class="large-12 columns">
                        <a class="button no_follow set_focus small-focus">Сфокусировать</a>
                        <button class="button small-move" type="submit">Добавить</button>
                        <img class="spinner" src="static/img/loader.gif">
                    </div>
                </div>
            </form>
        </div>
        <div class="large-5 columns">
            <div class="marginTop wrapper_add_scanner_items" style="display:block">
                <a class="button remove-move-item no_follow small-delete-row">Удалить элемент</a>
                <a class="button clear-move-session no_follow small-clear">Очистить сессию</a>&nbsp;&nbsp;
                <span class="count_objects_wrapper">Кол-во: <span class="count_objects">0</span></span>
                <img class="session_spinner" src="static/img/loader.gif">
            </div>
            <div class="marginTop"></div>
            <div class="session-wrapper">
                <div class="p_checkboxes cart_item_${pk}">
                    <p><input class="checkbox" type='checkbox' name='cart_number' value='${pk}'>&nbsp;&nbsp;&nbsp;
                        ${number}&nbsp;&nbsp;&nbsp;${name}&nbsp;&nbsp;&nbsp;<span class="ballon">${status}</span></p>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="large-2 columns"></div>
    </div>
{% endblock %}
