{% extends 'cartridge/base.html' %}

{% block title %}Список новых или заправленных{% endblock %}

{% block submenu %}Картриджи / Заправленные{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <div class="error_msg"></div>
            <div class="success_msg"></div>
        </div>
    </div>
    <div ng-controller="MainCtrl" class="ng-scope-stock">
        <div class="row">
            <div class="small-12 large-12 columns">
                <a class="button success" href="{% url 'add_items' %}">Добавить картридж</a>
                <a class="tr_for_use button no_follow" href="#">Передать в пользование</a>
                <a class="button" href="#">Передать на ремонт</a>
                <a class="button alert no_follow" href="#">На списание</a>
                <a class="export_to_xlsx button no_follow" href="#">Экспорт в XLSX
                    <img class="export_spinner_xlsx" src="static/img/loader.gif">
                </a>
            </div>
        </div>

        <div class="marginTop">
            <div class="large-12 columns">
                <div class="ui-grid grid1675145443724" id="grid1">
                    <!-- TODO (c0bra): add "scoped" attr here, eventually? -->
                    <style class="ng-binding">
                        .grid1675145443724 {
                            height: calc(107px + ({{ cartridge_list_view.count }} * 33px));
                        }

                        .grid1675145443724 .ui-grid-row, .grid1675145443724 .ui-grid-cell, .grid1675145443724 .ui-grid-cell {
                            height: 33px;
                        }

                        .grid1675145443724 .ui-grid-row:last-child .ui-grid-cell {
                            border-bottom-width: 1px;
                        }

                        .grid1675145443724 .ui-grid-coluiGrid-0007 {
                            min-width: 150px;
                            max-width: 150px;
                        }

                        .grid1675145443724 .ui-grid-coluiGrid-0008 {
                            min-width: 120px;
                            max-width: 120px;
                        }

                        .grid1675145443724 .ui-grid-coluiGrid-0009 {
                            min-width: 160px;
                            max-width: 160px;
                        }

                        .grid1675145443724 .ui-grid-coluiGrid-000A {
                            min-width: 160px;
                            max-width: 160px;
                        }

                        .grid1675145443724 .ui-grid-coluiGrid-000C {
                            min-width: 150px;
                            max-width: 150px;
                        }

                        .grid1675145443724 .ui-grid-coluiGrid-000D {
                            min-width: 200px;
                            max-width: 200px;
                        }

                        .grid1675145443724 .ui-grid-coluiGrid-000E {
                            min-width: 200px;
                            max-width: 200px;
                        }

                        .grid1675145443724 .ui-grid-coluiGrid-000G {
                            min-width: 140px;
                            max-width: 140px;
                        }

                        .grid1675145443724 .ui-grid-coluiGrid-000H {
                            min-width: 51px;
                            max-width: 51px;
                        }

                    </style>
                    <div class="ui-grid-contents-wrapper">
                        <!-- All of these dom elements are replaced in place -->
                        <div role="rowgroup" class="ui-grid-header">
                            <!-- theader -->
                            <div class="ui-grid-top-panel">
                                <div class="ui-grid-header-viewport">
                                    <div class="ui-grid-header-cell-wrapper">
                                        <div class="ui-grid-header-cell-row">
                                            <!-- ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-header-cell ui-grid-coluiGrid-0007">
                                                <div role="button" tabindex="0" class="ui-grid-cell-contents">
                                                    <span class="ui-grid-header-cell-label" id="1675145443724-uiGrid-0007-header-text">Штрихкод</span>
                                                </div>
                                                <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->
                                                <div>
                                                    <!-- ngRepeat: colFilter in col.filters -->
                                                    <div class="ui-grid-filter-container">
                                                        <!-- ngIf: colFilter.type !== 'select' -->
                                                        <input type="text" class="ui-grid-filter-input ui-grid-filter-input-0" aria-label="Фильтр столбца"
                                                               placeholder="">
                                                        <!-- ngIf: !colFilter.disableCancelFilterButton -->
                                                        <div role="button" class="ui-grid-filter-button" disabled="disabled">
                                                            <i class="ui-grid-icon-cancel" aria-label="Удалить фильтр"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-header-cell ui-grid-coluiGrid-0008">
                                                <div role="button" tabindex="0" class="ui-grid-cell-contents">
                                                    <span class="ui-grid-header-cell-label " id="1675145443724-uiGrid-0008-header-text">Действие</span>
                                                </div>
                                            </div>
                                            <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-header-cell  ui-grid-coluiGrid-0009">
                                                <div role="button" tabindex="0" class="ui-grid-cell-contents">
                                                    <span class="ui-grid-header-cell-label" id="1675145443724-uiGrid-0009-header-text">Производитель</span>
                                                    <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->
                                                </div>
                                                <div>
                                                    <!-- ngRepeat: colFilter in col.filters -->
                                                    <div class="ui-grid-filter-container">
                                                        <!-- ngIf: colFilter.type !== 'select' -->
                                                        <input type="text" class="ui-grid-filter-input ui-grid-filter-input-0" aria-label="Фильтр столбца"
                                                               placeholder="">
                                                        <!-- ngIf: !colFilter.disableCancelFilterButton -->
                                                        <div role="button" class="ui-grid-filter-button" disabled="disabled">
                                                            <i class="ui-grid-icon-cancel" aria-label="Удалить фильтр"></i>
                                                        </div>
                                                        <!-- end ngIf: !colFilter.disableCancelFilterButton -->
                                                    </div>
                                                    <!-- end ngRepeat: colFilter in col.filters -->
                                                </div>
                                            </div>
                                            <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-000A">
                                                <div role="button" tabindex="0" class="ui-grid-cell-contents">
                                                    <span class="ui-grid-header-cell-label" id="1675145443724-uiGrid-000A-header-text">Название</span>
                                                </div>
                                                <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->
                                                <div>
                                                    <!-- ngRepeat: colFilter in col.filters -->
                                                    <div class="ui-grid-filter-container">
                                                        <!-- ngIf: colFilter.type !== 'select' -->
                                                        <input type="text" class="ui-grid-filter-input ui-grid-filter-input-0" aria-label="Фильтр столбца"
                                                               placeholder="">
                                                        <!-- ngIf: !colFilter.disableCancelFilterButton -->
                                                        <div role="button" class="ui-grid-filter-button" disabled="disabled">
                                                            <i class="ui-grid-icon-cancel" aria-label="Удалить фильтр"></i>
                                                        </div>
                                                        <!-- end ngIf: !colFilter.disableCancelFilterButton -->
                                                    </div>
                                                    <!-- end ngRepeat: colFilter in col.filters -->
                                                </div>
                                            </div>
                                            <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-000C dotted">
                                                <div class="sortable">
                                                    <div role="button" tabindex="0" class="ui-grid-cell-contents">
                                                        <span class="ui-grid-header-cell-label" id="1675145443724-uiGrid-000C-header-text">Перезаправки</span>
                                                    </div>
                                                    <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->
                                                </div>
                                            </div>
                                            <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-000D">
                                                <div role="button" tabindex="0">
                                                    <span class="ui-grid-header-cell-label">Филиал</span>
                                                </div>
                                                <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->

                                                <!-- ngRepeat: colFilter in col.filters -->
                                                <div class="ui-grid-filter-container">
                                                    <!-- ngIf: colFilter.type !== 'select' -->
                                                    <input type="text" class="ui-grid-filter-input ui-grid-filter-input-0"
                                                           aria-label="Фильтр столбца" placeholder="">
                                                    <!-- ngIf: !colFilter.disableCancelFilterButton -->
                                                    <div role="button" class="ui-grid-filter-button" disabled="disabled">
                                                        <i class="ui-grid-icon-cancel" aria-label="Удалить фильтр"></i>
                                                    </div>
                                                    <!-- end ngIf: !colFilter.disableCancelFilterButton -->
                                                </div><!-- end ngRepeat: colFilter in col.filters -->

                                            </div>
                                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-000E">
                                                <!-- ngIf: grid.options.enableColumnResizing -->
                                                <!-- end ngIf: grid.options.enableColumnResizing -->
                                                <div role="button" tabindex="0" class="ui-grid-cell-contents">
                                                        <span class="ui-grid-header-cell-label ng-binding"
                                                              id="1675145443724-uiGrid-000E-header-text">Помещение</span>
                                                </div>
                                                <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->

                                                <div class="ui-grid-filter-container">
                                                    <!-- ngIf: colFilter.type !== 'select' -->
                                                    <input type="text" class="ui-grid-filter-input ui-grid-filter-input-0"
                                                           aria-label="Фильтр столбца" placeholder="">
                                                    <!-- ngIf: !colFilter.disableCancelFilterButton -->
                                                    <div role="button" class="ui-grid-filter-button " disabled="disabled">
                                                        <i class="ui-grid-icon-cancel" aria-label="Удалить фильтр"></i>
                                                    </div>
                                                    <!-- end ngIf: !colFilter.disableCancelFilterButton -->
                                                </div><!-- end ngRepeat: colFilter in col.filters -->
                                            </div>
                                            <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-000G dotted">
                                                <div role="columnheader" class="sortable">
                                                    <div role="button" tabindex="0" class="ui-grid-cell-contents">
                                                        <span class="ui-grid-header-cell-label" id="1675145443724-uiGrid-000G-header-text">Дата изменения</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="rowgroup" class="ui-grid-viewport ng-isolate-scope" style="overflow: hidden;">
                            <!-- tbody -->
                            <div class="ui-grid-canvas">
                                {% if cartridge_list_view %}
                                    <!-- ngRepeat: (rowRenderIndex, row) in rowContainer.renderedRows track by $index -->
                                    {% for el in cartridge_list_view %}
                                        <div class="ui-grid-row">
                                            <div class="ng-isolate-scope">
                                                <!-- ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-cell ui-grid-coluiGrid-0007" id="1675232910299-0-uiGrid-0007-cell">
                                                    <div class="ui-grid-cell-contents">{{ el.barcode }}</div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-cell ui-grid-coluiGrid-0008" id="1675232910299-0-uiGrid-0008-cell">
                                                    <div class="ui-grid-cell-contents" style="display: flex;">
                                                        <a title="Подробнее" href="{% url 'details_view' el.id %}">
                                                            <img class="action_ico" src="static/img/events.png">
                                                        </a>
                                                        <a title="Редактирование" href="{% url 'edit_update_view' el.id %}">
                                                            <img class="action_ico" src="static/img/edit.png">
                                                        </a>
                                                        <form action="{% url 'delete_view' el.id %}" method="post" style="width: 23px; height: 23px; padding-left: 5px;">
                                                            {% csrf_token %}
                                                            <button class="button" title="Удаление"
                                                                    onclick="return confirm('Вы уверены что хотите удалить картридж {{ el.manufacturerName }} {{ el.cartName }}?');">
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-cell ui-grid-coluiGrid-0009" id="1675232910299-0-uiGrid-0009-cell">
                                                    <div class="ui-grid-cell-contents">{{ el.manufacturerName }}</div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-cell ui-grid-coluiGrid-000A" id="1675232910299-0-uiGrid-000A-cell">
                                                    <div class="ui-grid-cell-contents">{{ el.cartName }}</div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-cell ui-grid-coluiGrid-000C" id="1675232910299-0-uiGrid-000C-cell">
                                                    <div class="ui-grid-cell-contents">2</div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-cell ui-grid-coluiGrid-000D" id="1675232910299-0-uiGrid-000D-cell">
                                                    <div class="ui-grid-cell-contents" title="">!!!!!</div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-cell ui-grid-coluiGrid-000E" id="1675232910299-0-uiGrid-000E-cell">
                                                    <div class="ui-grid-cell-contents" title="">{{ el.placeName }}</div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-cell ui-grid-coluiGrid-000G" id="1675232910299-0-uiGrid-000G-cell">
                                                    <div class="ui-grid-cell-contents">{{ el.date|date:'d.m.Y H:i' }}</div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            </div>
                                        </div>
                                        <!-- end ngRepeat: (rowRenderIndex, row) in rowContainer.renderedRows track by $index -->
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-pager-panel">
                        <div class="ui-grid-pager-container">
                            <div class="ui-grid-pager-control">
                                <button type="button" class="ui-grid-pager-first" title="Первая страница" aria-label="Первая страница" disabled="disabled">
                                    <div class="first-triangle">
                                        <div class="first-bar"></div>
                                    </div>
                                </button>
                                <button type="button" class="ui-grid-pager-previous" title="Предыдущая страница" aria-label="Предыдущая страница"
                                        disabled="disabled">
                                    <div class="first-triangle prev-triangle"></div>
                                </button>
                                <input type="number" class="ui-grid-pager-control-input" title="Выбранная страница" aria-label="Выбранная страница">
                                <span class="ui-grid-pager-max-pages-number">
                                <abbr title="из">/ </abbr>1
                            </span>
                                <button type="button" class="ui-grid-pager-next" title="Следующая страница" aria-label="Следующая страница" disabled="disabled">
                                    <div class="last-triangle"></div>
                                </button>
                                <button type="button" class="ui-grid-pager-last" title="Последняя страница" aria-label="Последняя страница" disabled="disabled">
                                    <div class="last-triangle">
                                        <div class="last-bar"></div>
                                    </div>
                                </button>
                            </div>
                            <!-- ngIf: grid.options.paginationPageSizes.length > 1 && !grid.options.useCustomPagination -->
                            <div class="ui-grid-pager-row-count-picker">
                                <select class="ng-pristine ng-untouched ng-valid ng-not-empty" aria-labelledby="1675336387607-items-per-page-label">
                                    <option label="12" value="number:12" selected="selected">12</option>
                                    <option label="24" value="number:24">24</option>
                                    <option label="48" value="number:48">48</option>
                                    <option label="100000" value="number:100000">100000</option>
                                </select>
                            </div>
                            <!-- end ngIf: grid.options.paginationPageSizes.length > 1 && !grid.options.useCustomPagination -->
                            <!-- ngIf: grid.options.paginationPageSizes.length <= 1 -->
                        </div>
                        <div class="ui-grid-pager-count-container">
                            <div class="ui-grid-pager-count">
                                <span class="ng-binding" style="">1<abbr title="по"> - </abbr>{{ cartridge_list_view.count }} из {{ cartridge_list_view.count }} строк</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}