{% extends 'cartridge/base.html' %}

{% block title %}Передача в пользование {% endblock %}

{% block submenu %}Картриджи / Заправленные / Передача в пользование{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-4 columns" style="display: {{ display }}">
            <ul class="success_msg" style="display: {{ msg_display }}">
                <li class="success">Картридж "{{ object.cartName }}" успешно передан {{ cart_name }}.</li>
            </ul>
            <ul class="error_msg" style="display: {{ err_display }}">
                <li class="success">{{ error }}</li>
            </ul>
        </div>
    </div>
    <div class="marginTop"></div>
    <div ng-controller="MainCtrl">
        <div class="row">
            <div class="large-5 columns">
                <form action="" method="POST">
                    {% csrf_token %}
                    <label class="required">Что передаём</label>
                    <table class="width100">
                        <tbody>
                        <tr>
                            <th>Штрихкод</th>
                            <th>Название</th>
                            <th>Количество перезаправок</th>
                        </tr>
                        {% if checks %}
                            {% for el in checks %}
                                <tr>
                                    <!--  1516994774592  -->
                                    <td>{{ el }}</td>
                                     {% if el in carts.barcode %}
                                        <td>{{ carts.cartName }}</td>
                                     {% else %}
                                         <td>NONE</td>
                                    {% endif %}
                                    <td>2</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="check_use_cartridge marginTop width100"></div>
                    <!-- -->
                    <div class="marginTop"></div>
                    <fieldset>
                        <legend>Куда передаем заправленные</legend>
                        <div class="row">
                            <div class="large-6 columns">
                                <label class="required">Помещение</label>
                                <div class="input_row">
                                    <a class="dj_button add" href="{% url 'tree_list' %}" title="Добавить название помещения"></a>
                                </div>
                                <div class="form_error_text cart_sklad_error">Поле должно быть выбрано</div>
                            </div>
                        </div>
                    </fieldset>
                    <!--  -->
                    <div class="marginTop"></div>
                    <fieldset class="fade ng-hide">
                        <legend>Куда перемещаем пустые</legend>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Филиал</label>
                                <div class="input_row">
                                    <select name="branch" class="dst_branch_list ng-pristine ng-untouched ng-valid select2-hidden-accessible ng-empty"
                                            ng-model="selected_dst_branch" data-select2-id="10" tabindex="-1" aria-hidden="true">
                                        <option value="" data-select2-id="11" selected="selected"></option>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="12"
                                                   style="width: calc(100% - 38px);"><span class="selection"><span
                                        class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false"
                                        tabindex="0" aria-labelledby="select2-branch-zh-container"><span class="select2-selection__rendered"
                                                                                                         id="select2-branch-zh-container" role="textbox"
                                                                                                         aria-readonly="true" title=""></span><span
                                        class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span
                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>
                            <div class="large-6 columns">
                                <label class="required">Помещение</label>
                                <div class="input_row">
                                    <select size="1" name="place" class="dst_rooms_list select2-hidden-accessible" data-select2-id="4" tabindex="-1"
                                            aria-hidden="true">
                                        <option value="0" selected="" data-select2-id="5"></option>
                                    </select>
                                    <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="6"
                                          style="width: calc(100% - 38px);">
                                    <span class="selection">
                                        <span
                                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false"
                                                tabindex="0" aria-labelledby="select2-place-du-container">
                                            <span class="select2-selection__rendered"
                                                  id="select2-place-du-container" role="textbox"
                                                  aria-readonly="true" title="">

                                            </span>
                                            <span
                                                    class="select2-selection__arrow" role="presentation">
                                                <b role="presentation"></b>
                                            </span>
                                        </span>
                                    </span>
                                        <span
                                                class="dropdown-wrapper" aria-hidden="true">

                                        </span>
                                    </span>
                                </div>
                                <div class="form_error_text cart_sklad_error">Поле должно быть выбрано</div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="marginTop ng-hide" ng-hide="printer_table">

                        <label class="required">Принтеры</label>
                        <table class="checkboxes width100 printers">
                            <tbody>
                            <tr>
                                <th class="first_checkbox">&nbsp;</th>
                                <th>ID</th>
                                <th>Инв. номер</th>
                                <th>Название / Статус</th>
                                <th>Счётчик</th>
                                <th>Пользователь</th>
                            </tr>

                            <!-- ngRepeat: printer in printers -->

                            </tbody>
                        </table>

                    </div>
                </form>
                <div class="marginTop"></div>
                <form class="tbl_installed_cart ng-pristine ng-valid" style="display: none;">
                    <label>Сейчас установленные картриджи</label>
                    <table class="width100 return_cartridges">
                        <tbody>
                        <tr>
                            <th style="width:50px">Цвет</th>
                            <th>Штрихкод</th>
                            <th style="width:120px">Название</th>
                            <th style="width:110px">Забрать?</th>
                        </tr>

                        <!-- ngRepeat: elem in cartridges -->

                        </tbody>
                    </table>
                </form>

                <div class="marginTop">
                    <a href="" class="button back no_follow">Вернуться</a>
                    <a class="move_to_use button no_follow warning" ng-click="move_to_use($event)">Передать</a>
                    <img class="spinner" src="/static/img/loader.gif">
                </div>

            </div>

            <div class="large-5 columns">
                <p>Механизм передачи в пользование:

                    <strong>Простой</strong>
                </p>
                <h4 class="information_ico">Информация</h4>
                <p class="text_information_wrapper">
                    Поддерживается два режима передачи картриджей в пользование. Первый самый простой, смысл которого заключается в указании выбранного
                    помещения где он потом окажется после установки. Второй вариант передачи предполагает указание конкретного принтера внутрь которого будет
                    производиться установки и изъятия картриджей. Эта возможность позволяет отслеживать количество отпечатанных страниц картриджем, но при этом
                    это предполагает дополнительных действий по созданию печатающих устройств. По умолчанию выбран первый вариант. Вариант использования
                    настраивается в разделе <a href="/service/general_settings/">/ Обслуживание / Настройки</a> установив опцию "Простой механизм передачи
                    картриджей в пользование" в значение выкл/вкл.<br>После сохранения изменений настроек перезагрузите эту страницу.
                </p>


            </div>
            <div class="large-2 columns"></div>
        </div>
    </div>
{% endblock %}