{% extends 'cartridge/base.html' %}

{% block title %}Помещения{% endblock %}

{% block submenu %}Справочники / Помещения{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-4 columns" style="display: {{ display }}">
            <ul class="messages">
                <li class="success">Помещение "{{ name }}" успешно создано.</li>
            </ul>
        </div>
    </div>
    <div ng-controller="MainCtrl" class="ng-scope">
        <div class="row">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="large-4 columns">
                    <label>Штрихкод:</label>
                    {{ form.barcode }}

                    <div class="marginTop"></div>
                    <label class="required">Название помещения:</label>
                    {{ form.name }}

                    <div class="marginTop"></div>
                    <label>Корпус:</label>
                    {{ form.branch }}
                    <div class="marginTop"></div>
                </div>
                <div class="row marginTop">
                    <div class="large-12 columns" style="padding-left: 30px;">
                        <button class="button success" type="submit">Добавить</button>
                        <a class="button no_follow edit_node" href="#" ng-click="show_modal()">Редактировать</a>

                        <a onclick="history.back(); return false;" class="button">Вернуться</a>

                        <a class="button alert del_node" ng-click="del_node()">Удалить</a>
                        <img class="spinner" src="static/img/loader.gif">
                    </div>
            </form>
        </div>
    </div>
    <div class="row marginTop">
        <div class="large-12 columns ">
            <div ui-i18n="en" class="grid ui-grid-selectable ui-grid ng-isolate-scope grid1675336387607" id="grid1" ui-grid="gridOptions"
                 ui-grid-selection="" ui-grid-pagination="" ui-grid-auto-resize="" ui-grid-resize-columns="" ng-style="getTableHeight()"
                 style="height: calc(107px + ({{ count }} * 33px));">
                <!-- TODO (c0bra): add "scoped" attr here, eventually? -->
                <style ui-grid-style="" class="ng-binding">

                    .grid1675336387607 .ui-grid-row, .grid1675336387607 .ui-grid-cell, .grid1675336387607 .ui-grid-cell {
                        height: 33px;
                    }

                    .grid1675336387607 .ui-grid-row:last-child .ui-grid-cell {
                        border-bottom-width: 1px;
                    }

                    .grid1675336387607 .ui-grid-coluiGrid-0006 {
                        min-width: 685px;
                        max-width: 685px;
                    }

                    .grid1675336387607 .ui-grid-coluiGrid-0007 {
                        min-width: 250px;
                        max-width: 250px;
                    }

                    .grid1675336387607 .ui-grid-coluiGrid-0008 {
                        min-width: 350px;
                        max-width: 350px;
                    }

                    .grid1675336387607 .ui-grid-render-container-body .ui-grid-canvas {
                        width: 1750px;
                        height: 264px;
                    }

                    .grid1675336387607 .ui-grid-render-container-body .ui-grid-header-canvas {
                        width: 1750px;
                    }

                    .grid1675336387607 .ui-grid-render-container-body .ui-grid-header-canvas {
                        height: inherit;
                    }

                    .grid1675336387607 .ui-grid-render-container-body .ui-grid-viewport {
                        width: 1621px;
                        height: 289px;
                    }

                    .grid1675336387607 .ui-grid-render-container-body .ui-grid-header-viewport {
                        width: 1621px;
                    }

                    .grid1675336387607 .ui-grid-render-container-body {
                        width: 1750px;
                    }

                    .grid1675336387607 .ui-grid-render-container-body {
                        width: 1621px;
                    }


                    .grid1675336387607 .ui-grid-coluiGrid-0006 {
                        min-width: 685px;
                        max-width: 685px;
                    }

                    .grid1675336387607 .ui-grid-coluiGrid-0007 {
                        min-width: 250px;
                        max-width: 250px;
                    }

                    .grid1675336387607 .ui-grid-coluiGrid-0008 {
                        min-width: 350px;
                        max-width: 350px;
                    }
                </style>
                <div class="ui-grid-contents-wrapper" role="grid">
                    <!-- ngIf: grid.options.enableGridMenu -->
                    <!-- ngIf: grid.hasLeftContainer() -->
                    <div role="presentation" ui-grid-one-bind-id-grid="containerId + '-grid-container'"
                         class="ui-grid-render-container ng-isolate-scope ui-grid-render-container-body"
                         ng-style="{ 'margin-left': colContainer.getMargin('left') + 'px', 'margin-right': colContainer.getMargin('right') + 'px' }"
                         ui-grid-render-container="" container-id="'body'" col-container-name="'body'" row-container-name="'body'"
                         bind-scroll-horizontal="true" bind-scroll-vertical="true" enable-horizontal-scrollbar="grid.options.enableHorizontalScrollbar"
                         enable-vertical-scrollbar="grid.options.enableVerticalScrollbar" id="1675336387607-body-grid-container"
                         style="margin-left: 0px; margin-right: 0px;">
                        <!-- All of these dom elements are replaced in place -->
                        <div role="rowgroup" class="ui-grid-header ng-scope">
                            <!-- theader -->
                            <div class="ui-grid-top-panel">
                                <div class="ui-grid-header-viewport">
                                    <div class="ui-grid-header-canvas" style="">
                                        <div class="ui-grid-header-cell-wrapper" ng-style="colContainer.headerCellWrapperStyle()">
                                            <div role="row" class="ui-grid-header-cell-row">
                                                <!-- ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-header-cell ui-grid-clearfix ng-scope ng-isolate-scope ui-grid-coluiGrid-0007"
                                                     ng-repeat="col in colContainer.renderedColumns track by col.uid" ui-grid-header-cell="" col="col"
                                                     render-index="$index" style="">
                                                    <div role="columnheader" ng-class="{ 'sortable': sortable, 'ui-grid-header-cell-last-col': isLastCol }"
                                                         ui-grid-one-bind-aria-labelledby-grid="col.uid + '-header-text ' + col.uid + '-sortdir-text'"
                                                         aria-sort="none" class="ng-scope"
                                                         aria-labelledby="1675336387607-uiGrid-0007-header-text 1675336387607-uiGrid-0007-sortdir-text">
                                                        <div role="button" tabindex="0" ng-keydown="handleKeyDown($event)"
                                                             class="ui-grid-cell-contents ui-grid-header-cell-primary-focus" col-index="renderIndex">
                                                                <span class="ui-grid-header-cell-label ng-binding"
                                                                      ui-grid-one-bind-id-grid="col.uid + '-header-text'"
                                                                      id="1675336387607-uiGrid-0007-header-text">Штрихкод</span>
                                                            <span ui-grid-one-bind-id-grid="col.uid + '-sortdir-text'" ui-grid-visible="col.sort.direction"
                                                                  aria-label="Без сортировки" class="ui-grid-invisible"
                                                                  id="1675336387607-uiGrid-0007-sortdir-text">
                                                                    <i ng-class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }"
                                                                       title="" aria-hidden="true" class="ui-grid-icon-blank"></i>
                                                                    <sub ui-grid-visible="isSortPriorityVisible()"
                                                                         class="ui-grid-sort-priority-number ng-binding ui-grid-invisible">1</sub>
                                                                </span>
                                                        </div>
                                                        <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->
                                                        <div ui-grid-filter="">
                                                            <!-- ngRepeat: colFilter in col.filters -->
                                                            <div class="ui-grid-filter-container ng-scope" ng-style="col.extraStyle"
                                                                 ng-repeat="colFilter in col.filters"
                                                                 ng-class="{'ui-grid-filter-cancel-button-hidden' : colFilter.disableCancelFilterButton === true }">
                                                                <!-- ngIf: colFilter.type !== 'select' -->
                                                                <div ng-if="colFilter.type !== 'select'" class="ng-scope">
                                                                    <input type="text" class="ui-grid-filter-input ui-grid-filter-input-0"
                                                                           ng-model="colFilter.term" ng-attr-placeholder="" aria-label="Фильтр столбца"
                                                                           placeholder="">
                                                                    <!-- ngIf: !colFilter.disableCancelFilterButton -->
                                                                    <div role="button" class="ui-grid-filter-button ng-scope ng-hide"
                                                                         ng-click="removeFilter(colFilter, $index)"
                                                                         ng-if="!colFilter.disableCancelFilterButton"
                                                                         ng-disabled="colFilter.term === undefined || colFilter.term === null || colFilter.term === ''"
                                                                         ng-show="colFilter.term !== undefined &amp;&amp; colFilter.term !== null &amp;&amp; colFilter.term !== ''"
                                                                         disabled="disabled">
                                                                        <i class="ui-grid-icon-cancel" ui-grid-one-bind-aria-label="aria.removeFilter"
                                                                           aria-label="Удалить фильтр">&nbsp;</i>
                                                                    </div>
                                                                    <!-- end ngIf: !colFilter.disableCancelFilterButton -->
                                                                </div>
                                                                <!-- end ngIf: colFilter.type !== 'select' --><!-- ngIf: colFilter.type === 'select' -->
                                                            </div>
                                                            <!-- end ngRepeat: colFilter in col.filters -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-header-cell ui-grid-clearfix ng-scope ng-isolate-scope ui-grid-coluiGrid-0006"
                                                     ng-repeat="col in colContainer.renderedColumns track by col.uid" ui-grid-header-cell="" col="col"
                                                     render-index="$index" style="">
                                                    <div role="columnheader" ng-class="{ 'sortable': sortable, 'ui-grid-header-cell-last-col': isLastCol }"
                                                         ui-grid-one-bind-aria-labelledby-grid="col.uid + '-header-text ' + col.uid + '-sortdir-text'"
                                                         aria-sort="none" class="ng-scope"
                                                         aria-labelledby="1675336387607-uiGrid-0006-header-text 1675336387607-uiGrid-0006-sortdir-text">
                                                        <div role="button" tabindex="0" ng-keydown="handleKeyDown($event)"
                                                             class="ui-grid-cell-contents ui-grid-header-cell-primary-focus" col-index="renderIndex">
                                                                <span class="ui-grid-header-cell-label ng-binding"
                                                                      ui-grid-one-bind-id-grid="col.uid + '-header-text'"
                                                                      id="1675336387607-uiGrid-0006-header-text">Название</span>
                                                            <span ui-grid-one-bind-id-grid="col.uid + '-sortdir-text'" ui-grid-visible="col.sort.direction"
                                                                  aria-label="Без сортировки" class="ui-grid-invisible"
                                                                  id="1675336387607-uiGrid-0006-sortdir-text"><i
                                                                    ng-class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }"
                                                                    title="" aria-hidden="true" class="ui-grid-icon-blank"></i>
                                                                    <sub ui-grid-visible="isSortPriorityVisible()"
                                                                         class="ui-grid-sort-priority-number ng-binding ui-grid-invisible">1</sub>
                                                                </span>
                                                        </div>
                                                        <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->
                                                        <div ui-grid-filter="">
                                                            <!-- ngRepeat: colFilter in col.filters -->
                                                            <div class="ui-grid-filter-container ng-scope" ng-style="col.extraStyle"
                                                                 ng-repeat="colFilter in col.filters"
                                                                 ng-class="{'ui-grid-filter-cancel-button-hidden' : colFilter.disableCancelFilterButton === true }">
                                                                <!-- ngIf: colFilter.type !== 'select' -->
                                                                <div ng-if="colFilter.type !== 'select'" class="ng-scope">
                                                                    <input type="text" class="ui-grid-filter-input ui-grid-filter-input-0"
                                                                           ng-model="colFilter.term"
                                                                           ng-attr-placeholder=""
                                                                           aria-label="Фильтр столбца"
                                                                           placeholder="">
                                                                    <!-- ngIf: !colFilter.disableCancelFilterButton -->
                                                                    <div role="button" class="ui-grid-filter-button ng-scope ng-hide"
                                                                         ng-click="removeFilter(colFilter, $index)"
                                                                         ng-if="!colFilter.disableCancelFilterButton"
                                                                         ng-disabled="colFilter.term === undefined || colFilter.term === null || colFilter.term === ''"
                                                                         ng-show="colFilter.term !== undefined &amp;&amp; colFilter.term !== null &amp;&amp; colFilter.term !== ''"
                                                                         disabled="disabled">
                                                                        <i class="ui-grid-icon-cancel"
                                                                           ui-grid-one-bind-aria-label="aria.removeFilter"
                                                                           aria-label="Удалить фильтр">&nbsp;</i>
                                                                    </div>
                                                                    <!-- end ngIf: !colFilter.disableCancelFilterButton -->
                                                                </div>
                                                                <!-- end ngIf: colFilter.type !== 'select' --><!-- ngIf: colFilter.type === 'select' -->
                                                            </div><!-- end ngRepeat: colFilter in col.filters -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-header-cell ui-grid-clearfix ng-scope ng-isolate-scope ui-grid-coluiGrid-0008"
                                                     ng-repeat="col in colContainer.renderedColumns track by col.uid" ui-grid-header-cell="" col="col"
                                                     render-index="$index" style="">
                                                    <div role="columnheader" ng-class="{ 'sortable': sortable, 'ui-grid-header-cell-last-col': isLastCol }"
                                                         ui-grid-one-bind-aria-labelledby-grid="col.uid + '-header-text ' + col.uid + '-sortdir-text'"
                                                         aria-sort="none" class="ng-scope"
                                                         aria-labelledby="1675336387607-uiGrid-0008-header-text 1675336387607-uiGrid-0008-sortdir-text">
                                                        <div role="button" tabindex="0" ng-keydown="handleKeyDown($event)"
                                                             class="ui-grid-cell-contents ui-grid-header-cell-primary-focus" col-index="renderIndex"><span
                                                                class="ui-grid-header-cell-label ng-binding"
                                                                ui-grid-one-bind-id-grid="col.uid + '-header-text'"
                                                                id="1675336387607-uiGrid-0008-header-text">Корпус</span> <span
                                                                ui-grid-one-bind-id-grid="col.uid + '-sortdir-text'" ui-grid-visible="col.sort.direction"
                                                                aria-label="Без сортировки" class="ui-grid-invisible"
                                                                id="1675336387607-uiGrid-0008-sortdir-text"><i
                                                                ng-class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }"
                                                                title="" aria-hidden="true" class="ui-grid-icon-blank"></i> <sub
                                                                ui-grid-visible="isSortPriorityVisible()"
                                                                class="ui-grid-sort-priority-number ng-binding ui-grid-invisible">1</sub></span></div>
                                                        <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->
                                                        <div ui-grid-filter="">
                                                            <!-- ngRepeat: colFilter in col.filters -->
                                                            <div class="ui-grid-filter-container ng-scope" ng-style="col.extraStyle"
                                                                 ng-repeat="colFilter in col.filters"
                                                                 ng-class="{'ui-grid-filter-cancel-button-hidden' : colFilter.disableCancelFilterButton === true }">
                                                                <!-- ngIf: colFilter.type !== 'select' -->
                                                                <div ng-if="colFilter.type !== 'select'" class="ng-scope"><input type="text"
                                                                                                                                 class="ui-grid-filter-input ui-grid-filter-input-0"
                                                                                                                                 ng-model="colFilter.term"
                                                                                                                                 ng-attr-placeholder=""
                                                                                                                                 aria-label="Фильтр столбца"
                                                                                                                                 placeholder="">
                                                                    <!-- ngIf: !colFilter.disableCancelFilterButton -->
                                                                    <div role="button" class="ui-grid-filter-button ng-scope ng-hide"
                                                                         ng-click="removeFilter(colFilter, $index)"
                                                                         ng-if="!colFilter.disableCancelFilterButton"
                                                                         ng-disabled="colFilter.term === undefined || colFilter.term === null || colFilter.term === ''"
                                                                         ng-show="colFilter.term !== undefined &amp;&amp; colFilter.term !== null &amp;&amp; colFilter.term !== ''"
                                                                         disabled="disabled"><i class="ui-grid-icon-cancel"
                                                                                                ui-grid-one-bind-aria-label="aria.removeFilter"
                                                                                                aria-label="Удалить фильтр">&nbsp;</i></div>
                                                                    <!-- end ngIf: !colFilter.disableCancelFilterButton -->
                                                                </div>
                                                                <!-- end ngIf: colFilter.type !== 'select' --><!-- ngIf: colFilter.type === 'select' -->
                                                            </div>
                                                            <!-- end ngRepeat: colFilter in col.filters -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="rowgroup" class="ui-grid-viewport ng-isolate-scope" ng-style="colContainer.getViewportStyle()" ui-grid-viewport=""
                             style="overflow: hidden;">
                            <!-- tbody -->
                            <div class="ui-grid-canvas">
                                {% if place %}
                                    <!-- ngRepeat: (rowRenderIndex, row) in rowContainer.renderedRows track by $index -->
                                    {% for el in place %}
                                        <div ng-repeat="(rowRenderIndex, row) in rowContainer.renderedRows track by $index" class="ui-grid-row ng-scope"
                                             ng-style="Viewport.rowStyle(rowRenderIndex)"
                                             ng-class="{'ui-grid-row-selected': row.isSelected, 'ui-grid-row-focused': row.isFocused}" style="">
                                            <div role="row" ui-grid-row="row" row-render-index="rowRenderIndex" class="ng-isolate-scope">
                                                <!-- ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
                                                     ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
                                                     class="ui-grid-cell ng-scope ui-grid-disable-selection ui-grid-coluiGrid-0007"
                                                     ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader }" role="gridcell" ui-grid-cell=""
                                                     id="1675770373642-0-uiGrid-0007-cell">
                                                    <div class="ui-grid-cell-contents ng-binding ng-scope">{{ el.barcode }}</div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
                                                     ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
                                                     class="ui-grid-cell ng-scope ui-grid-disable-selection ui-grid-coluiGrid-0006"
                                                     ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader }" role="gridcell" ui-grid-cell=""
                                                     id="1675770373642-0-uiGrid-0006-cell">
                                                    <p class="ng-scope">
                                                        <span class="gi ng-binding"></span>
                                                        <span class="ou_5">{{ el.name }}</span>
                                                    </p>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                                <div ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
                                                     ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
                                                     class="ui-grid-cell ng-scope ui-grid-disable-selection ui-grid-coluiGrid-0006"
                                                     ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader }" role="gridcell" ui-grid-cell=""
                                                     id="1675770373642-0-uiGrid-0008-cell">
                                                    <div class="ui-grid-cell-contents ng-binding ng-scope">{{ el.branch }}</div>
                                                </div>
                                                <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <!-- end ngRepeat: (rowRenderIndex, row) in rowContainer.renderedRows track by $index -->
                            </div>
                        </div>
                        <!-- ngIf: colContainer.needsHScrollbarPlaceholder() -->
                        <!-- ngIf: grid.options.showColumnFooter -->
                    </div>
                    <!-- ngIf: grid.hasRightContainer() -->
                    <!-- ngIf: grid.options.showGridFooter -->
                    <!-- ngIf: grid.options.enableColumnMenus -->
                    <div ng-transclude=""></div>
                </div>
                <div class="ui-grid-pager-panel ng-scope" ui-grid-pager="" ng-show="grid.options.enablePaginationControls">
                    <div role="navigation" class="ui-grid-pager-container">
                        <div class="ui-grid-pager-control">
                            <button type="button" class="ui-grid-pager-first" ui-grid-one-bind-title="aria.pageToFirst"
                                    ui-grid-one-bind-aria-label="aria.pageToFirst" ng-click="pageFirstPageClick()" ng-disabled="cantPageBackward()"
                                    title="Первая страница" aria-label="Первая страница" disabled="disabled">
                                <div ng-class="grid.isRTL() ? 'last-triangle' : 'first-triangle'" class="first-triangle">
                                    <div ng-class="grid.isRTL() ? 'last-bar-rtl' : 'first-bar'" class="first-bar"></div>
                                </div>
                            </button>
                            <button type="button" class="ui-grid-pager-previous" ui-grid-one-bind-title="aria.pageBack"
                                    ui-grid-one-bind-aria-label="aria.pageBack" ng-click="pagePreviousPageClick()" ng-disabled="cantPageBackward()"
                                    title="Предыдущая страница" aria-label="Предыдущая страница" disabled="disabled">
                                <div ng-class="grid.isRTL() ? 'last-triangle prev-triangle' : 'first-triangle prev-triangle'"
                                     class="first-triangle prev-triangle">

                                </div>
                            </button>
                            <input type="number" ui-grid-one-bind-title="aria.pageSelected" ui-grid-one-bind-aria-label="aria.pageSelected"
                                   class="ui-grid-pager-control-input ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max ng-valid-step ng-valid-required"
                                   ng-model="grid.options.paginationCurrentPage" min="1" max="1" step="1" required="" title="Выбранная страница"
                                   aria-label="Выбранная страница">
                            <span class="ui-grid-pager-max-pages-number ng-binding" ng-show="paginationApi.getTotalPages() > 0">
                                    <abbr ui-grid-one-bind-title="paginationOf" title="из">/ </abbr>1
                                </span>
                            <button type="button" class="ui-grid-pager-next" ui-grid-one-bind-title="aria.pageForward"
                                    ui-grid-one-bind-aria-label="aria.pageForward" ng-click="pageNextPageClick()" ng-disabled="cantPageForward()"
                                    title="Следующая страница" aria-label="Следующая страница" disabled="disabled">
                                <div ng-class="grid.isRTL() ? 'first-triangle next-triangle' : 'last-triangle next-triangle'"
                                     class="last-triangle next-triangle"></div>
                            </button>
                            <button type="button" class="ui-grid-pager-last" ui-grid-one-bind-title="aria.pageToLast"
                                    ui-grid-one-bind-aria-label="aria.pageToLast" ng-click="pageLastPageClick()" ng-disabled="cantPageToLast()"
                                    title="Последняя страница" aria-label="Последняя страница" disabled="disabled">
                                <div ng-class="grid.isRTL() ? 'first-triangle' : 'last-triangle'" class="last-triangle">
                                    <div ng-class="grid.isRTL() ? 'first-bar-rtl' : 'last-bar'" class="last-bar"></div>
                                </div>
                            </button>
                        </div><!-- ngIf: grid.options.paginationPageSizes.length > 1 && !grid.options.useCustomPagination -->
                        <div class="ui-grid-pager-row-count-picker ng-scope"
                             ng-if="grid.options.paginationPageSizes.length > 1 &amp;&amp; !grid.options.useCustomPagination">
                            <select ui-grid-one-bind-aria-labelledby-grid="'items-per-page-label'" ng-model="grid.options.paginationPageSize"
                                    ng-options="o as o for o in grid.options.paginationPageSizes" class="ng-pristine ng-untouched ng-valid ng-not-empty"
                                    aria-labelledby="1675336387607-items-per-page-label">
                                <option label="12" value="number:12" selected="selected">12</option>
                                <option label="24" value="number:24">24</option>
                                <option label="48" value="number:48">48</option>
                                <option label="100000" value="number:100000">100000</option>
                            </select>
                            <span ui-grid-one-bind-id-grid="'items-per-page-label'" class="ui-grid-pager-row-count-label ng-binding"
                                  id="1675336387607-items-per-page-label">&nbsp;строк на страницу</span>
                        </div>
                        <!-- end ngIf: grid.options.paginationPageSizes.length > 1 && !grid.options.useCustomPagination -->
                        <!-- ngIf: grid.options.paginationPageSizes.length <= 1 -->
                    </div>
                    <div class="ui-grid-pager-count-container">
                        <div class="ui-grid-pager-count">
                                <span ng-show="grid.options.totalItems > 0" class="ng-binding" style="">1
                                    <abbr ui-grid-one-bind-title="paginationThrough" title="по">- </abbr>{{ count }} из {{ count }} строк</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="reveal-modal small" data-reveal="" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Изменение имени</h2>
        <div class="modal_error_msg"></div>
        <div class="modal_success_msg"></div>
        <div>
            <form class="change_ou_name ng-pristine ng-valid">
                <input type="hidden" name="csrfmiddlewaretoken" value="O8zZa9XZtwl0d8DCw4HXIvfsZLQTeRh6U6xM30rvUMW0fndA7V4mEkHReMCtYfUp" autocomplete="off">
                <input type="hidden" value="99" name="ouid" class="pk_id" autocomplete="off">
                <label>Корпус</label>
                <select size="1" name="edit_branch" id="id_edit_branch" class="edit_branch select2-hidden-accessible" style="width:100%"
                        data-select2-id="id_edit_branch" tabindex="-1" aria-hidden="true">

                </select>
                <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="4" style="width: 100%;">
                        <span class="selection">
                            <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                  aria-labelledby="select2-id_edit_branch-container">
                                <span class="select2-selection__rendered" id="select2-id_edit_branch-container" role="textbox" aria-readonly="true"></span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                            </span>
                        </span>
                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                    </span>
                <div class="marginTop">
                    <label class="required">Название помещения</label>
                    <input type="text" class="ou_value" value="Изменяемый текст" name="ou_name">
                </div>
                <div class="marginTop">
                    <label>Комментарий</label>
                    <textarea cols="10" name="comment_modal" class="comment_modal" rows="30"></textarea>
                </div>
            </form>
        </div>
        <a class="close-reveal-modal" aria-label="Close">×</a>
        <div class="right">
            <img class="spinner_ou" src="static/img/loader.gif">
            <a class="button" aria-label="Close" ng-click="close_modal_win()">Закрыть</a>
            <a class="button edit_save_and_close" ng-click="save_and_close()">Сохранить и закрыть</a>
        </div>
    </div>
    </div>
{% endblock %}
