{% extends 'cartridge/base.html' %}
{% load static %}
{% block title %}Расходники в пользовании{% endblock %}

{% block submenu %}Картриджи / Установленные{% endblock %}

{% block content %}
    <div ng-controller="MainCtrl" class="ng-scope">
        <div class="row">
            <div class="large-6 columns">
                <div class="success_msg"></div>
                <div class="error_msg"></div>
            </div>
        </div>
        <form method="post" action="{% url 'use' %}">
            {% csrf_token %}
            <div class="row">
                <div class="large-7 columns">
                    <button class="button success" name="ended_cart" type="submit">Картридж закончился</button>
                    <button class="button alert" name="return_cart" type="submit">Вернуть на склад</button>
                </div>
            </div>

            <div class="marginTop">
                <div class="large-12 columns">
                    <div class="ui-grid grid1675145443724" id="grid1">
                        <!-- TODO (c0bra): add "scoped" attr here, eventually? -->
                        <style class="ng-binding">
                            {#.grid1675145443724 {#}
                            {#    height: calc(107px + (({{ cartridge_list_view.count }}+1) * 33px));#}

                            .grid1675145443724 .ui-grid-row, .grid1675145443724 .ui-grid-cell {
                                height: 33px;
                            }

                            .grid1675145443724 .ui-grid-row:last-child .ui-grid-cell {
                                border-bottom-width: 1px;
                            }

                            .grid1675145443724 .ui-grid-coluiGrid-0007 {
                                min-width: 150px;
                                max-width: 150px;
                            }

                            .grid1675145443724 .ui-grid-coluiGrid-0008 {
                                min-width: 120px;
                                max-width: 120px;
                            }

                            .grid1675145443724 .ui-grid-coluiGrid-0009 {
                                min-width: 160px;
                                max-width: 160px;
                            }

                            .grid1675145443724 .ui-grid-coluiGrid-000A {
                                min-width: 160px;
                                max-width: 160px;
                            }

                            .grid1675145443724 .ui-grid-coluiGrid-000C {
                                min-width: 150px;
                                max-width: 150px;
                            }

                            .grid1675145443724 .ui-grid-coluiGrid-000D {
                                min-width: 160px;
                                max-width: 160px;
                            }

                            .grid1675145443724 .ui-grid-coluiGrid-000E {
                                min-width: 200px;
                                max-width: 200px;
                            }

                            .grid1675145443724 .ui-grid-coluiGrid-000G {
                                min-width: 140px;
                                max-width: 140px;
                            }

                            .grid1675145443724 .ui-grid-coluiGrid-000H {
                                min-width: 40px;
                                max-width: 40px;
                            }

                        </style>
                        <div class="ui-grid-contents-wrapper">
                            <!-- All of these dom elements are replaced in place -->
                            <div class="ui-grid-header">
                                <!-- theader -->
                                <div class="ui-grid-top-panel">
                                    <div class="ui-grid-header-viewport">
                                        <div class="ui-grid-header-cell-wrapper">
                                            <div class="ui-grid-header-cell-row">
                                                <div class="ui-grid-header-cell ui-grid-coluiGrid-000H">
                                                    <div class="ui-grid-cell-contents">
                                                        <input id="select_all" type="checkbox" class="ui-grid-cell-contents-checkbox" style="margin-left: 14px">
                                                    </div>
                                                </div>
                                                <div class="ui-grid-header-cell ui-grid-coluiGrid-0007">
                                                    <span class="ui-grid-header-cell-label">Штрихкод</span>
                                                    <!-- ngIf: grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false -->
                                                    <div>
                                                        <!-- ngRepeat: colFilter in col.filters -->
                                                        <div class="ui-grid-filter-container">
                                                            <input id="search_code" class="ui-grid-filter-input" type="text" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-header-cell ui-grid-coluiGrid-0008">
                                                    <span class="ui-grid-header-cell-label">Действие</span>
                                                </div>
                                                <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-header-cell  ui-grid-coluiGrid-0009">
                                                    <span class="ui-grid-header-cell-label">Производитель</span>
                                                </div>
                                                <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-header-cell ui-grid-coluiGrid-000A">
                                                    <span class="ui-grid-header-cell-label">Название</span>
                                                    <div class="ui-grid-filter-container">
                                                        <input id="search_model" class="ui-grid-filter-input" type="text" placeholder="">
                                                    </div>

                                                </div>
                                                <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-header-cell ui-grid-coluiGrid-000C">
                                                    <span class="ui-grid-header-cell-label">Перезаправки</span>
                                                </div>
                                                <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-header-cell ui-grid-coluiGrid-000D">
                                                    <div role="button" tabindex="0">
                                                        <span class="ui-grid-header-cell-label">Филиал</span>
                                                    </div>
                                                </div>
                                                <div class="ui-grid-header-cell ui-grid-coluiGrid-000E">
                                                    <div role="button" tabindex="0" class="ui-grid-cell-contents">
                                                        <span class="ui-grid-header-cell-label">Помещение</span>
                                                    </div>
                                                    <div class="ui-grid-filter-container">
                                                        <input type="text" class="ui-grid-filter-input ui-grid-filter-input-0"
                                                               aria-label="Фильтр столбца" placeholder="">
                                                        <!-- ngIf: !colFilter.disableCancelFilterButton -->
                                                        <div role="button" class="ui-grid-filter-button " disabled="disabled">
                                                            <i class="ui-grid-icon-cancel" aria-label="Удалить фильтр"></i>
                                                        </div>
                                                        <!-- end ngIf: !colFilter.disableCancelFilterButton -->
                                                    </div>
                                                </div>
                                                <!-- end ngRepeat: col in colContainer.renderedColumns track by col.uid -->
                                                <div class="ui-grid-header-cell ui-grid-coluiGrid-000G">
                                                    <span class="ui-grid-header-cell-label">Дата изменения</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-viewport" style="width: 1320px; height: 500px; overflow-y: scroll;">
                            <!-- tbody -->
                            <div class="ui-grid-canvas" id="table">

                                {% if cartridge_list_view %}
                                    <!-- ngRepeat: (rowRenderIndex, row) in rowContainer.renderedRows track by $index -->
                                    {% for el in cartridge_list_view %}
                                        <div class="ui-grid-row" id="row_{{ el.id }}">
                                            <div class="ui-grid-cell ui-grid-coluiGrid-000H">
                                                <div class="ui-grid-cell-contents">
                                                    <input name="check" class="ui-grid-cell-contents-checkbox" type="checkbox" value="{{ el.barcode }}">
                                                </div>
                                            </div>
                                            <!-- ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-cell ui-grid-coluiGrid-0007">
                                                <div class="ui-grid-cell-contents">{{ el.barcode }}</div>
                                            </div>
                                            <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-cell ui-grid-coluiGrid-0008" style="padding: 3px">
                                                <div class="ui-grid-cell-contents" style="display: flex; justify-content: space-evenly;">
                                                    <a title="Подробнее" href="{% url 'details_view' el.id %}">
                                                        <img class="action_ico" src="{% static 'img/events.png' %}" alt="">
                                                    </a>
                                                    <a title="Редактирование" href="{% url 'edit_update_view' el.id %}">
                                                        <img class="action_ico" src="{% static 'img/edit.png' %}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-cell ui-grid-coluiGrid-0009">
                                                <div class="ui-grid-cell-contents">{{ el.manufacturerName }}</div>
                                            </div>
                                            <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-cell ui-grid-coluiGrid-000A">
                                                <div class="ui-grid-cell-contents">{{ el.cartName }}</div>
                                            </div>
                                            <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-cell ui-grid-coluiGrid-000C">
                                                <div class="ui-grid-cell-contents">{{ el.col }}</div>
                                            </div>
                                            <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-cell ui-grid-coluiGrid-000D">
                                                <div class="ui-grid-cell-contents" title="">!!!!!</div>
                                            </div>
                                            <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-cell ui-grid-coluiGrid-000E">
                                                <div class="ui-grid-cell-contents" title="">{{ el.placeName }}</div>
                                            </div>
                                            <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                            <div class="ui-grid-cell ui-grid-coluiGrid-000G">
                                                <div class="ui-grid-cell-contents">{{ el.date|date:'d.m.Y H:i' }}</div>
                                            </div>
                                            <!-- end ngRepeat: (colRenderIndex, col) in colContainer.renderedColumns track by col.uid -->
                                        </div>
                                        <!-- end ngRepeat: (rowRenderIndex, row) in rowContainer.renderedRows track by $index -->
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="ui-grid-pager-panel" style="width: 100%; height: 20px; position: absolute; bottom: 38px;">
                    <div class="ui-grid-pager-count-container">
                        <div class="ui-grid-pager-count">
                            <span class="ng-binding">Всего {{ cartridge_list_view.count }} строк</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="{% static 'js/select_all.js' %}"></script>
    <script>
        const data = '{{ qs_json }}'
        const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
        const input1 = document.getElementById('search_code')
        const input2 = document.getElementById('search_model')
        let filteredArr = []
        input1.addEventListener('keyup', (e) => {
            var inputs = e.target.value.toLowerCase(); //do lowercase
            document.querySelectorAll('.ui-grid-row').forEach(function (el) {
                el.style.display = 'none';
            });
            document.querySelectorAll('.ui-grid-row .ui-grid-coluiGrid-0007 .ui-grid-cell-contents').forEach(function (el) {
                if (el.textContent.toLowerCase().indexOf(inputs) > -1) {
                    el.closest('.ui-grid-row').style.display = "block";
                }
            })
        })
        input2.addEventListener('keyup', (e) => {
            var inputs = e.target.value.toLowerCase(); //do lowercase
            document.querySelectorAll('.ui-grid-row').forEach(function (el) {
                el.style.display = 'none';
            });
            document.querySelectorAll('.ui-grid-row .ui-grid-coluiGrid-000A .ui-grid-cell-contents').forEach(function (el) {
                if (el.textContent.toLowerCase().indexOf(inputs) > -1) {
                    el.closest('.ui-grid-row').style.display = "block";
                }
            })
        })
    </script>
{% endblock %}



