div.input_row input.manual_number {
    width: calc(100% - 39px);
}

div.input_row  a.add-session-move-barcode {
    width: 40px;
    height: 33px;
    margin: 0;
    float: right;
}

span.ballon {
    display: inline-block;
    background-color: #fed8b1;
    padding: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    div.input_row input.manual_number {
        width: 208px;
    }

    div.input_row  a.add-session-move-barcode {
        width: 40px;
        height: 33px;
        margin: 0;
        float: right;
    }
}

div.session-wrapper input.checkbox, div.session-wrapper input.bc-checkbox {
  margin-right: 15px;
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
  position: relative;
  top: 3px;
}

div.checkbox-wrapper, div.numbers-wrapper {
  float: left;
}

div.ce-info {
  cursor: pointer;
}